body{
    border: 0;
    background-color: white;
    font-family: 'arial', 'Nanum Gothic', sans-serif;
    line-height: 1.5em;
    color: darkslategray;
}
.hide {
    display: none;
}
.login-details
{
    background-color: #fff;
	width: 30%;
	margin: 60px auto 0 auto;
	padding: 12px 12px 12px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
 
}
.application-logo
{
	width: 100%;
	text-align: center;
	font-size: 24pt;
	line-height: 0;
}
input, [select]{
width: 90%;
height: 30px;
border-radius: 4px;
border: none;
padding-left: 20px;
margin-left: 5%;
font-size: 12pt;
border: 1px solid #ccc;
}
::placeholder
{
	color: darkgray;
}
input
{
	width: 85%;
}
.email, .password, .user{
margin-left: 5%;	
font-size: 13pt;
}
[login-btn], [signup-btn]
{
	background-color: rgb(51,153,255);
	color: white;
	border-radius: 20px;
	width: 30%;
	margin-left: 35%;
	border: none;
	padding-left: 0px;
}
[login-btn]:hover, 
[signup-btn]:hover
{
background-color: rgb(51,153,255, 0.7);
cursor: pointer;
}
.sign-up-text, .sign-in-text
{
	margin-left: 20px; 
}
 .sign-up-btn
{
	text-decoration: none;
	color: rgb(51,153,255, 0.7);
}
.sign-up-btn:hover
{
color: #000000;
}

.sign-in-btn
{
	text-decoration: none;
	color: rgb(51,153,255, 0.7);
}

.sign-in-btn:hover
{
	color: #000000;
}

/*Sign Up */
.sign-up-details
{
	background-color: #fff;
	width: 30%;
	margin: 15px auto 0 auto;
	padding: 12px 12px 12px 12px;
	border-radius: 10px;
	border: 1px solid #ccc;
}
.first-name, .last-name, .new-email, .new-password, .confirm-password
{
margin-left: 5%;	
font-size: 13pt;
}
.login-btn
{
	width: 30%;
	height: 30px;
	border: none;
	border-radius: 20px;
	margin-bottom: 15px;
	margin-top: -5px;
    margin-left: 35%;
}
[signup-btn]
{
	font-weight: normal;
	font-size: 10pt;
}
.asterisk
{
color: red;
}
