/*################################################################################################################
										  Tablet Layout: 768px.
##################################################################################################################*/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 991px)
{
.continue-btn{width: 35%;}
.top-image{width: 40%;height: 150px;margin: 100px auto 0 auto;}
.login-details{width: 96%; margin-top: 150px}
.sign-up-details{ margin-top: 30%; font-size: 20pt;}
.top-left{font-size: 24pt;}
.menu{width: 80%;margin-left:30%;font-size: 16pt; height: 30px; padding-top: 0; }
.top-right{font-size: 11pt; width: 20%;margin-left: 5%;}
.logged-user{margin-top: 10px; }
.my-article-btn, .all-article-btn, .new-article-btn, .shared-article-btn{font-size: 13pt; height: 35px;}
.number-shared{width: 24px; height: 24px;padding-top: 2px; font-size: 18pt;}
.category{font-size: 18pt; text-align: center; width :28%; height: auto; font-variant-caps: initial;}
.flag-btn{width: 35%;height: 20px;}
.submit-comment{width: 60%;height: 30px; margin-top: 10px; margin-left: 20%;}
.top-image{margin: 100px auto 0 auto;}
.application-title{margin-top: 5px;}
.appliction-details{width: 90%; margin: 50px auto 0 auto;font-size: 16pt; }
.top-division{height: 110px;float: left;clear: none; background-color: #fff;}
.top-bar{background-color: #fff; height: 110px;}
.top-left{width: 100%; float: left;}
.menu-bar{width: 72%; float: left; clear: none;margin-top: 25px; border-radius: 0; height: 30px;}
.top-right .logged{display: none;}
.navigation-menu{width: 10%;height: 50px;float: left;font-size: 42pt;clear: both;padding-left: 5%;margin-top: -30px;}
.left-division{margin-top: 150px;width: 50%; transition: all .3s; display: none; font-size: 18pt; margin-top: 120px;}
.main-division{ width: 100%;margin-left: 0;margin-top: 120px;}
.subscription{margin-top: 30px;}
.menu-icon, .close-menu-icon{color: #3399FF;font-weight: bolder;}
.close-menu-icon{display: none;}
.subscription td{ font-size: 13pt;padding-top: 5px;padding-bottom: 5px;}
.success-msg-new-article, .success-msg-update-article, .success-msg-delete-article, .success-msg-flag-article,
.success-msg-flag-comment, .success-msg-subscribe, .success-msg-unsubscribe, 
.success-msg-comment, .success-msg-query{
	width: 40%;
	height: 30px;
	margin-left: 30%;
	margin-top: 350px;
}
.menus{display: none;}
.login-details
{
	min-height: 1200px;
}
.login-details input, [select]
{
height: 80px;
border-radius: 10px;
margin-bottom: 30px;
margin-top: 20px;
height: 80px;
font-size: 32pt;
width: 88%;

}
.application-logo img{
	width: 40%;
	height: auto;
	font-size: 36pt;
}
.application-logo {
	font-size: 42pt;
	margin-bottom: 30px;
}
.email, .password, .user 
{
	font-size: 32pt;
}
[select]
{
width: 90%;
}
[login-btn], [signup-btn]
{
	height: 60px;
	border-radius: 30px;
	font-size: 32pt;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btm-sign-up
{
	width: 90%;
	margin-top: 20px;
	margin-left: 5%;
	font-size: 28pt;
	margin-bottom: 30px;
	/* background-color: #3399FF; */
}
.sign-up-details
{
	/* background-color: #3399FF; */
	width: 96%;
	margin-left: auto;
	margin-top: 10px;
}

.first-name, .last-name, .new-email, .new-password, .confirm-password
{
	font-size: 32pt;
}
.sign-up-details input
{
height: 80px;
border-radius: 35px;
height: 80px;
font-size: 32pt;
margin-top: 20px;
margin-bottom: 30px;
}


.wrapper{
	width: 100%;
	min-height: 100%;
}
.my-article, .my-article-ft-pt, .my-article-ft-pt img
{
	height: auto;
}
.my-article-ft-pt
{
	font-size: 48pt;
	background-color: #3399FF;
}
.article-division
{
	height: auto;
}
.title
{
	width: 60%;
	font-size: 15pt;
}
.featured-photo
{
	width: 30%;
	height: auto;
}
.published 
{
	width :90%;
	font-size: 14pt;
}
.my-article-ttl
{
	width: 60%;
	height: auto;
	font-size: 18pt;
}
.my-article-ft-pt
{
	width: 30%;
	background-color: transparent;
}
.my-article-cat
{
	width : 90%;
	height: 30px;
	font-size: 14pt;
}
.my-article-action
{
	width: 90%;
}

}
/*################################################################################################################
										  Mobile Layout: 320px.
##################################################################################################################*/

@media only screen 
and (max-device-width: 767px) 
{
body {margin: 0; width: 100%;}
.wrapper{width: 96%; margin-left: 5%; margin-right: 5%; height :100%;}
.application-title{ font-size: 14pt; font-variant: bolder; width: 95%; }
hr{display: none;}
.appliction-details{width: 90%; margin: 20px 2.5% 0px 2.5%;font-size: 12pt; }
.continue-btn{font-size: 12pt; height: 25px; width: 80%;margin-top: 0px;}
.top-image{width: auto; height: auto;margin: 50px auto 0 auto;}
.top-division
{background-color: #FFF; position: fixed; box-shadow: 2px 0px 5px 2px #ccc; height: 150px;}
.top-bar{background-color: #fff;position: relative; box-shadow: none;}
.top-left{width: 100%; clear: none; background-color: #FFF; padding-bottom: 10px; padding-top: 20px; }
.menu-bar{ width: 100%; border-radius: 0; height: 30px; margin-top: 0px;}
.navigation-menu{background-color: orange; display: none; position: relative; background-color: #fff;}
.menu{display: none;}
.menuIcon{color: #3399FF; line-height: .4em;}
.closeMenuIcon{color: #3399FF; line-height: .4em; display: none;}
.top-right{display: none;}
.menus{width: 100%; height: 20px; background-color: #fff; text-align: center; font-size: 42pt; font-weight: bolder; padding-top: 20px; line-height: 0}
.left-division{display: none; border-radius: 0px; margin-top: 160px;}
.number-shared{width: 24px; height: 20px;padding-top: 2px; font-size: 12pt;}
.main-division{width: 100%; margin-left: 0; margin-top: 160px;}
.all-articles{margin-top: 0}
.featured-photo{width: 70%; height: auto; min-height: 150px; margin-left: 15%;}
.featured-photo img{height: auto;}
.article-division{
	width: 95%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.left-menu
{
	margin-left: 5%;
}
.category{ width: 66%; height: auto; margin-bottom: -20px; margin-left: 16.5%; padding-bottom: 10px; text-align: center; font-variant: initial;}
.title{width: 70%; height: auto; margin-left: 15%; text-align: center; }
.published{width:70%;font-size: 9pt; margin-left: 15%; height: auto; margin-bottom: 20px; margin-top: 20px;}
.read-title{font-size: 10pt; min-height: 80px;}
.read-featured-photo {min-height: 120px;}
.read-featured-photo img{height: auto;}
.read-action{font-size: 6pt; margin-top: 2px;}
.flag{width: 100%; font-size: 7pt; height: 12px;}
.read-article-details{font-size: 11pt;}
.comments-lbl{font-size: 12pt;}
.flag-btn{height: 13px; font-size: 6px;}
.comments-header{font-size: 6pt; height: 12px;}
.comments-contents{ margin-top: -12px;}
.read-comment{font-size: 10pt;}
.comment-article{width: 80%; font-size: 8pt;}
.submit-comment{width: 60%; margin-left: 20%; font-size: 11pt}
.my-article-ttl{height: auto; font-size: 18pt; width: 90%;}
.my-article-ft-pt{ width: 90%; height: auto; padding-left: 5%; padding-right: 5%; padding-top: 20px;}
.my-article-ft-pt img{height: auto; width: 70%;margin-left: 15%; margin-right: 15%; padding-top: 10px; }
.article-lbl
{
	height: auto;
}
textarea 
{
width: 280px;
height: 320px;
}

.ft-img-lbl
{
	width: 40%;
	font-size: 8pt;
}

.my-article{width: 90%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
.my-article-cat{display: none;}
.my-article-action{margin-top: 20px; width: 90%; margin-left: 5%;}
.btn-article-ctn, .btn-article-ctn-edit, .btn-article-ctn-delete
{
	width: 30%;
	height: 30px;
	margin-left: 1%;
	font-size: 10pt;
}
.menus{visibility: visible;}
.success-msg-new-article, .success-msg-update-article, .success-msg-delete-article, .success-msg-flag-article,
.success-msg-flag-comment, .success-msg-subscribe, .success-msg-unsubscribe, 
.success-msg-comment, .success-msg-query{
	width: 70%;
	height: auto;
	margin-left: 10%;
	margin-top: 300px;
	font-size: 12pt;
}
.my-article-btn, .all-article-btn, .new-article-btn, .shared-article-btn, .flagged-article-btn
{
	width: 80%;
	margin-left: 10%;
    height: 30px;
    margin-top: 6px;
    border-radius: 14px;
    font-size: 14pt;
    font-weight: 500;
    text-transform: uppercase;
}

.login-details
{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	min-height: 1200px;
}
.login-details input, [select]
{
height: 80px;
border-radius: 10px;
margin-bottom: 30px;
margin-top: 20px;
height: 80px;
font-size: 32pt;
width: 88%;

}
.application-logo img{
	width: 40%;
	height: auto;
	font-size: 36pt;
}
.application-logo {
	font-size: 42pt;
	margin-bottom: 30px;
}
.email, .password, .user 
{
	font-size: 32pt;
}
[select]
{
width: 90%;
}
[login-btn], [signup-btn]
{
	height: 60px;
	border-radius: 30px;
	font-size: 32pt;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btm-sign-up
{
	width: 90%;
	margin-top: 20px;
	margin-left: 5%;
	font-size: 28pt;
	margin-bottom: 30px;
	/* background-color: #3399FF; */
}
.sign-up-details
{
	/* background-color: #3399FF; */
	width: 96%;
	margin-left: auto;
	margin-top: 10px;
}

.first-name, .last-name, .new-email, .new-password, .confirm-password
{
	font-size: 32pt;
}
.sign-up-details input
{
height: 80px;
border-radius: 35px;
height: 80px;
font-size: 32pt;
margin-top: 20px;
margin-bottom: 30px;
}


.wrapper{
	width: 100%;
	min-height: 100%;
	margin: auto;
}
.left-loggout{display: block;}
}
